/* 
    Document   : graphstreamStyle
    Created on : May 21, 2014, 1:36:29 PM
    Author     : joemullen
    Description:
        Purpose of the stylesheet follows.
*/

graph {
    fill-color: white;
}
node { size: 10px; fill-color: red; text-font: Arial;
    text-size: 10;}

node.target { size: 10px; fill-color: blue; shape: triangle; }

node.compound { size: 10px; fill-color: red;  }

node.indication { size: 10px; fill-color: yellow;  }

node.molfunc { size: 10px; fill-color: black;  }

node.protein { size: 10px; fill-color: red; shape: triangle; }

node.publication { size: 10px; fill-color: green; shape: triangle; }

node.subgraph{
    size: 5; 
}

edge {text-font: Arial; text-style: italic; fill-color: #C0C0C0;
    arrow-size: 3px, 2px;  shape: line; 
    text-size: 8; text-alignment: under;}

node#A {
    fill-color: blue;
}
node:clicked {
    fill-color: red;
}

